/* CV Main Styles */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(19, 18, 18);
    margin: 1em 0;
    padding: 0;
}

.main {
    width: 100%;
}

.row .left {
    font-size: 71%;
    float: left;
    width: 75%;
    text-align: justify;
    margin-left: 10%;
}

.left p {
    font-weight: bold;
}


/* this aligns the bullet points */

.left ul {
    list-style-position: inside;
    /* margin: 0; */
    padding: 0;
}

.row .right {
    font-weight: bold;
    text-align: right;
    float: right;
    width: 18%;
}

.loc {
    font-weight: normal;
}

.contact #c-name {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.contact .otherc {
    text-align: center;
    font-size: 71%;
}


/* Media Queries */

@media print {
    @page {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
        /* above code to make it A4 */
    }
}